.profile-head {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.user-listings {
  /* margin: 24px 16px; */
  width: 90%;
  margin: 24px auto;
}

.profile {
  margin-top: 16px;
}
